body {
  overflow-x: hidden;
}

.App {
  background-color: #FFFFFF;
}

.header {
  height: 7.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:#D5CFE6;
  height:auto;
}

.navbar-collapse {
  font-size: 1.375rem;
  margin-left: 4rem;
}

.logo {
  height: auto;
  margin-left: 4rem;
}

.connect {
  width: 25rem;
  height: auto;
  padding: 20px;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 4rem;
}

.button {
  border-color: #6779FF;
  color:#6779FF;
  border-radius: 6.25rem;
  font-size: 22px;
}

.button:hover {
  background-color: #6779FF;
  color: white;
}

.hover:hover {
    border-bottom: 1px solid #6779FF;
}

.icon {
  color: #6779FF;
}

@media screen and (max-width:1600px) {
  .hover {font-size: 16px;}
}

@media screen and (max-width:900px) {
  .connect {width: 16rem; margin-right: 2rem;}
  .logo {width: 40vw; margin-left: 2rem;}
  .navbar-toggler {margin-right: 2rem;}
}

.explain {
  margin-top: 45rem;
  color:rgb(255, 255, 255);
  background-color:black;
  opacity: 0.6;
  padding: 1rem;
}
