html, body {
  overflow-x: hidden;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:#D5CFE6;
  height:auto;
}

.navbar-collapse {
  font-size: 1.375rem;
  margin-left: 4rem;
}

.logo {
  height: auto;
  margin-left: 4rem;
}

.col2 {
  max-width: 100vw;
  height: 56rem;
}

.connect {
  width: 25rem;
  height: auto;
  padding: 20px;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 4rem;
}

.connect2 {
  width: 25rem;
  height: auto;
  padding: 20px;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 4rem;
}

.button {
  border-color: #6779FF;
  color:#6779FF;
  border-radius: 6.25rem;
  font-size: 22px;
}

.button:hover {
  background-color: #6779FF;
  color: white;
}

.hover:hover {
    border-bottom: 1px solid #6779FF;
}

.icon {
  color: #6779FF;
}

.explain {
  color:rgb(255, 255, 255);
  background-color:black;
  opacity: 0.6;
  padding: 1rem;
  margin-top: 45rem;
}

@media screen and (max-width:1600px) {
  .hover {font-size: 16px;}
  .text-skin3 {font-size: 0.8vw;}
  .text-skin2 {font-size: 1.1vw;}
  .text-skin1 {font-size: 1.5vw;}
}

@media screen and (max-width:900px) {
  .connect {width: 19rem; margin-right: 2rem;}
  .logo {width: 40vw; margin-left: 2rem;}
  .navbar-toggler {margin-right: 2rem;}
}

@media screen and (max-width:500px) {
  .connect1 {width: 20rem;}
  .col2 {height: 36rem;}
  .explain {margin-top: 30rem; height: 5rem; padding: 0.5rem;}
  .text {font-size: 3vw;}
  .portfolio {padding-left: 10rem;}
}


